header {
  display: flex;
  align-items: center;
}

.header-logo {
  padding: 50px;
}

.ul {
  display: flex;
  list-style: none;
  padding-left: 400px;
  padding-top: 40px;
}

.li a {
  padding: 20px;
  text-decoration: none;
  color: #1b1b1b;
}
.li a:hover {
  color: #0084ff;
  cursor: pointer;
}

.li {
  padding: 10px;
}
.li.active {
  background-color: #0084ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-section {
  background-image: url("../images/footer-bg.jpg");
  display: flex;
}

.footer-section ul {
  list-style: none;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 100px;
}

.footer-section h3 {
  color: white;
  align-self: flex-start;
}

.footer-section li {
  padding-top: 10px;
}

.footer-section a {
  text-decoration: none;
  color: #adadad;
  cursor: pointer;
}
.footer-section a:hover {
  border: none;
  color: #0084ff;
}

.footer-section img {
  width: 450px;
  margin-left: 400px;
}

.second-footer-section {
  background-color: #3d3d3d;
  min-height: 241px;
}

.second-footer-section button {
  background-color: #1b1b1b;
  color: white;
  padding: 20px;
  margin-top: 80px;
  margin-left: 100px;
  border: 1px solid white;
}
.second-footer-section button:hover {
  border-color: #0084ff;
  cursor: pointer;
}

.second-footer-section ul {
  display: flex;
  padding-left: 1300px;
  padding-top: 0;
  margin-bottom: 100px;
}

.second-footer-section h4 {
  color: #0084ff;
}

.second-footer-section li {
  padding-left: 20px;
  list-style: none;
}

.second-footer-section img {
  width: 30px;
  cursor: pointer;
}

.container-comics {
  background-color: #1b1b1b;
}

.comics-part {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  background-color: #1b1b1b;
}

.comics-stuff {
  padding: 20px;
  flex-basis: 16.6666666667%;
  cursor: pointer;
}
.comics-stuff .comic-image {
  width: 100%;
}
.comics-stuff h4 {
  color: white;
}

.button {
  display: flex;
  justify-content: center;
  padding: 5px;
}

button {
  font-size: 15px;
  background-color: #0084ff;
  color: white;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.jumbotron {
  background-image: url("../images/jumbotron.jpg");
  height: 500px;
  display: flex;
}

.series-title-container {
  background-color: #0084ff;
  width: 180px;
  height: 30px;
  position: absolute;
  z-index: 1;
  top: 680px;
  left: 305px;
}

.jumbo-title {
  color: white;
  padding: 6px 5px 5px 7px;
}

.container-comics {
  background-color: #1b1b1b;
}

.single-image-comic {
  position: absolute;
  z-index: 1;
  top: 430px;
  left: 100px;
  border: 2px solid white;
}

.container {
  display: flex;
  padding-top: 50px;
}

.info-name {
  color: #0084ff;
}

.comic-info {
  width: 60%;
  padding-left: 100px;
}

.comic-info h4 {
  padding: 5px 0 5px 0;
}

.comic-info p {
  text-align: justify;
}

.image-adv {
  width: 40%;
  padding-left: 80px;
}

.wrapper {
  display: flex;
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #d6d6d6;
}

.info {
  padding-left: 100px;
  width: 75%;
}

.info2 {
  padding-left: 100px;
  width: 25%;
}

.talent {
  display: flex;
  padding-top: 10px;
}

.talent2 {
  padding-top: 50px;
  display: flex;
}

.info-list {
  display: flex;
  padding-left: 55px;
}

.info-list2 {
  display: flex;
  padding-left: 30px;
}

.one {
  padding-left: 87px;
}

.two {
  padding-left: 67px;
}

.three {
  padding-left: 50px;
}

.info-list a,
.info-list2 a {
  text-decoration: none;
  margin-right: 2px;
}
.info-list a a:hover,
.info-list2 a a:hover {
  text-decoration: none;
}

.first-section ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding-top: 20px;
}

.first-section {
  background-color: #d6d6d6;
}

.first-section img {
  width: 60px;
}

.first-section a {
  color: white;
  text-decoration: none;
  display: flex;
}
.first-section a:hover {
  color: #0084ff;
}

.first-section h4 {
  padding: 30px 0 0 10px;
  cursor: pointer;
}