header {
  display: flex;
  align-items: center;
}

.header-logo {
  padding: 50px;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 400px;
  padding-top: 40px;
}

li a {
  padding: 20px;
  text-decoration: none;
  color: #1b1b1b;
}
li a:hover {
  color: #0084ff;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-section {
  background-image: url("../images/footer-bg.jpg");
  display: flex;
}

.footer-section ul {
  list-style: none;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 100px;
}

.footer-section h3 {
  color: white;
  align-self: flex-start;
  margin-left: 20px;
}

.footer-section li {
  padding-top: 10px;
}

.footer-section a {
  text-decoration: none;
  color: #adadad;
  cursor: pointer;
}
.footer-section a:hover {
  border: none;
}

.footer-section img {
  width: 450px;
  margin-left: 400px;
}

.container-comics {
  background-color: #1b1b1b;
}

.comics-part {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  background-color: #1b1b1b;
}

.comics-stuff {
  padding: 20px;
  flex-basis: 16.6666666667%;
  cursor: pointer;
}
.comics-stuff .comic-image {
  width: 100%;
}
.comics-stuff h4 {
  color: white;
}

.button {
  display: flex;
  justify-content: center;
  padding: 5px;
}

button {
  font-size: 15px;
  background-color: #0084ff;
  color: white;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.jumbotron {
  background-image: url("../images/jumbotron.jpg");
  height: 400px;
  display: flex;
}

.series-title-container {
  height: 30px;
  width: 200px;
  background-color: #0084ff;
  align-self: flex-end;
  margin-top: 200px;
  margin-left: 300px;
  display: flex;
}

h3 {
  color: white;
  align-self: center;
  margin-left: 15px;
}

.container-comics {
  background-color: #1b1b1b;
}

.first-section {
  background-color: #0084ff;
}

.second-section {
  background-image: url("../assets/img/footer-bg.jpg");
}