header {
  display: flex;
  align-items: center;
}

.header-logo {
  padding: 50px;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 400px;
  padding-top: 40px;
}

li a {
  padding: 20px;
  text-decoration: none;
  color: #1b1b1b;
}
li a:hover {
  color: #0084ff;
  border-bottom: 3px solid #0084ff;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-comics {
  background-color: #1b1b1b;
}

.comics-part {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  background-color: #1b1b1b;
}

.comics-stuff {
  padding: 20px;
  flex-basis: 16.6666666667%;
  cursor: pointer;
}
.comics-stuff .comic-image {
  width: 100%;
}
.comics-stuff h4 {
  color: white;
}