header {
  display: flex;
  align-items: center;
}

img {
  padding: 50px;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 400px;
  padding-top: 40px;
}

li a {
  padding: 20px;
  text-decoration: none;
  color: #1b1b1b;
}
li a:hover {
  color: #0084ff;
  border-bottom: 3px solid #0084ff;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}