.container-comics {
    background-color: $text-color;
}

.comics-part {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  background-color: $text-color;
  
}

.comics-stuff {
  padding: 20px;
  flex-basis: calc(100% / 6);
  cursor: pointer;
  .comic-image {
    width: 100%;
  }
  h4 {
    color: $main-text-color;
  }
}

.button {
  display: flex;
  justify-content: center;
  padding: 5px;
}
button {
  font-size: 15px;
  background-color: $main-buy-section-color;
  color: $main-text-color;
  padding: 5px;
  border: none;
  cursor: pointer;
}
