.footer-section {
    background-image: url("../images/footer-bg.jpg");
    display: flex;
}
.footer-section ul {
    list-style: none;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 100px;
}
.footer-section h3 {
    color: $main-text-color;
    align-self:flex-start;
    margin-left: 20px;
}
.footer-section li {
    padding-top: 10px;
}
.footer-section a {
    text-decoration: none;
    color: $main-second-section-li;
    cursor: pointer;
  
    &:hover {
      border: none;
    }
}
.footer-section img {
    width: 450px;
    margin-left: 400px;
}