header {
  display: flex;
  align-items: center;
}
.header-logo {
  padding: 50px;
}

.ul {
  display: flex;
  list-style: none;
  padding-left: 400px;
  padding-top: 40px;
}
.li a {
  padding: 20px;
  text-decoration: none;
  color: $text-color;

  &:hover {
    color: $main-buy-section-color;
    cursor: pointer;
  }
}
.li {
  padding: 10px;

  &.active{
    background-color: $main-buy-section-color;
  }
}