.jumbotron{
  background-image: url("../images/jumbotron.jpg");
  height: 500px;
  display: flex;
}
.series-title-container{
  background-color: $main-buy-section-color;
  width: 180px;
  height: 30px;
  position: absolute;
  z-index: 1;
  top: 680px;
  left: 305px;
}
.jumbo-title{
  color: $main-text-color;
  padding: 6px 5px 5px 7px;
}
.container-comics {
  background-color: $text-color;
}

.single-image-comic{
  position: absolute;
  z-index: 1;
  top: 430px;
  left: 100px;
  border: 2px solid $main-text-color;
}
  