.jumbotron{
  background-image: url("../images/jumbotron.jpg");
  height: 500px;
  display: flex;
}
 .series-title-container{
  background-color: $main-buy-section-color;
  align-self: flex-end;
  margin-top: 200px;
  margin-left: 300px;
  display: flex;
  border: 2px solid $main-text-color;
}
h3{
  color: $main-text-color;
  align-self: center;
}
.container-comics {
  background-color: $text-color;
}
  